/* ======================== SIDE BAR ======================== */

/* The side navigation menu */
.sidebar {
  margin: 0;
  padding: 0;
  width: 0px;
  background-color: rgba(58, 53, 210, 0.192);
  position: fixed;
  height: 100%;
  overflow: auto;
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* Sidebar links */
.sidebar a {
  display: block;
  color: black;
  padding: 16px;
  text-decoration: none;
  border: solid;
  border-radius: 4px;
  border-color: #3a35d200;
  border-width: 2px;
  text-align: center;
  font-size: 16px;
  transition-duration: 0.4s;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

/* Active/current link */
.sidebar a.active {
  background-color: rgba(220,0,181,1);
  color: white;
}

/* Links on mouse-over */
.sidebar a:hover:not(.active) {
  background-color: white;
  color: black;
}

/* Page content. The value of the margin-left property should match the value of the sidebar's width property */
div.content {
  margin-left: 0px;
  padding: 1px 16px;
  height: 1000px;
}

/* On screens that are less than 700px wide, make the sidebar into a topbar */
@media screen and (max-width: 700px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }
  .sidebar a {float: left;}
  div.content {margin-left: 0;}
}

/* On screens that are less than 400px, display the bar vertically, instead of horizontally */
@media screen and (max-width: 400px) {
  .sidebar a {
    text-align: center;
    float: none;
  }
}

/* ======================== IMG DOC ======================== */

.container {
  position: relative;
  width: 50%;
}

.image {
  opacity: 1;
  display: block;
  width: 80%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.imageflexcontent { margin-left: 5px; margin-top: 0; }

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.container:hover .image {
  opacity: 0.3;
}

.container:hover .middle {
  opacity: 1;
}

.text {
  background-color: #04AA6D;
  color: white;
  font-size: 16px;
  padding: 16px 32px;
}

/* ======================== FIN IMG DOC ======================== */


@font-face {
  font-family: 'CustomFont';
  src: url('Genshin.ttf');
}

body{
    background: rgb(57,53,210);
    background: linear-gradient(90deg, rgba(57,53,210,1) 0%, rgba(220,0,181,1) 100%);
    font-family: 'CustomFont', sans-serif;
}

footer {
  text-align: center;
  padding: 5px;
  color: #000;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

.button1 {
    background-color: white; 
    border: solid;
    border-radius: 4px;
    border-color: #3935d2;
    border-width: 2px;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    transition-duration: 0.4s;
  }

.button1:hover {
    background-color: #3935d2;
    color: white;
    cursor: pointer;
  }

.button2 {
    background-color: white; 
    border: solid;
    border-radius: 4px;
    border-color: #703dcc;
    border-width: 2px;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    transition-duration: 0.4s;
  }

.button2:hover {
    background-color: #703dcc;
    color: white;
    cursor: pointer;
  }

.button3 {
    background-color: white; 
    border: solid;
    border-radius: 4px;
    border-color: #b330bf;
    border-width: 2px;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    transition-duration: 0.4s;
  }

.button3:hover {
    background-color: #b330bf;
    color: white;
    cursor: pointer;
  }

.button4 {
    background-color: white; 
    border: solid;
    border-radius: 4px;
    border-color: #dc00b5;
    border-width: 2px;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    transition-duration: 0.4s;
  }

.button4:hover {
    background-color: #dc00b5;
    color: white;
    cursor: pointer;
  }

h1{
    color : white;
}

h2{
  color : white;
}

